---
import Card from "../components/blog/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { blogGroups } from "../util/blog";
---

<BaseLayout title="test">
  <Card>
    <h1>Welcome!</h1>
    <p>
      Website is super super super early WIP, for now all there is to see is my
      <a href="/blog/">blog</a> while I deal with the hellscape of webdev.
    </p>
  </Card>
</BaseLayout>
